# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Dependencies
node_modules/
package-lock.json

# Logs
*.log
npm-debug.log*

# Build
dist/
build/

# Misc
.env
.env.local
